################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/claudius/backend/__pycache__
/claudius/desktop.ini
/claudius/start.log
/claudius/frontend/node_modules
