################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs

*.js.map
*.ts.map

/frontend/js

/backend/__pycache__
/desktop.ini
/frontend/node_modules
/backend/data.json
/backend/workspace
